# Python
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.egg-info/
dist/
build/

# Home Assistant
*.log
home-assistant_v2.db
home-assistant.log
.storage/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Zip artifacts
*.zip
.venv/
